# Build output
build/

# Dependencies
node_modules/
yarn.lock

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache
.prettiercache
.cache/

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# Environment
.env
